<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: blue;
            background-repeat: no-repeat;
            background-size: cover;
        }

        th {
            width: 150px;
            color: white;
            text-align: justify;
        }

        table {
            margin-left: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 500px;height: 600px;  margin-top: 50px;margin-left: 500px; ">
        <form method="post">{% csrf_token %}
            <table>
                <tr>
                    <th>
                        <label for= >Employee_Name:</label>
                    </th>
                    <td>
                        <input type="text" name="ename">
                    </td>
                </tr>
                <tr>
                    <th><label for= >Email_id:</label></th>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <th>
                        <label for= >Company_Name:</label>
                    </th>
                    <td>
                        <input type="text" name="cname">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for= >Designation:</label>
                    </th>
                    <td>
                        <input type="text" name="des">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for= >Phone:</label>
                    </th>
                    <td>
                        <input type="number" name="phn">
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <center> <button type="submit"
                                style="background-color: forestgreen; margin-top: 20px;">Register</button></center>
                    </th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>